@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient( to bottom right, rgb(190, 119, 12),rgb(227, 229, 76));
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

button#equal {
  height: 130px;
}

/* .button{
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid rgba(255, 0, 60, 0);
  border-radius: 9px;
  cursor: pointer;
} */

/* .row{
  margin: 8px 0;
}
.row input{
  width: 291px;
  font-size: 25px;
    margin: 0;
    padding: 13px 0px;
    border: 2px solid rgba(43, 226, 49, 0.142);
    border-radius: 5px;
} */

